<header class="header">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="{% url 'home:details' %}" class="nav__link">Главная</a>
            </li>
            <li class="nav__item">
                <a href="{% url 'documents:details' %}" class="nav__link">Документы</a>
            </li>
            <li class="nav__item">
                <a href="{% url 'materials:details' %}" class="nav__link">Материалы</a>
            </li>
            <li class="nav__item">
                <a href="{% url 'news:details' %}" class="nav__link">Новости</a>
            </li>
            <li class="nav__item">
                <a href="{% url 'photo:details' %}" class="nav__link">Фото</a>
            </li>
            <li class="nav__item">
                <a href="{% url 'video:details' %}" class="nav__link">Видео</a>
            </li>
            <li class="nav__item">
                <a href="{% url 'schedule:details' %}" class="nav__link">Расписание</a>
            </li>
            <li class="nav__item">
                <a href="{% url 'staff:details' %}" class="nav__link">Коллектив</a>
            </li>
            <li class="nav__item">
                <a href="{% url 'contacts:details' %}" class="nav__link">Контакты</a>
            </li>
        </ul>
    </nav>
</header>