<div class="social">
    <ul class="social__list">
        <li class="social__item">
            <a href="#" class="social__link" style="font-size: 30px;">
                <svg class='social__icon' style="max-height: 30px;">
                  <use href='#icon-vk'></use>
                </svg>
            </a>
        </li>
        <li class="social__item">
            <a href="#" class="social__link" style="font-size: 30px;">
                <svg class='social__icon' style="max-height: 30px;">
                  <use href='#icon-viber'></use>
                </svg>
            </a>
        </li>
        <li class="social__item">
            <a href="#" class="social__link" style="font-size: 30px;">
                <svg class='social__icon' style="max-height: 30px;">
                  <use href='#icon-tg'></use>
                </svg>
            </a>
        </li>
    </ul>
</div>
{{ site_settings.icons|safe }}